<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each_with_index do |entry, index| %>
    <tr>
      <th><%= index + 1 %></th>
      <th>
        <a href="main/detail/<%= entry['id'] %>"><%= entry['title'] %></a>
      </th>
      <th>
        <%= entry['author'] %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @entries %>
