<!DOCTYPE html>
<html>
<head>
  <title>Study Now</title>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container" id="main">
    <% if current_user %>
      <%= yield %>
    <% else %>
      <h4>学びを共有するにはログインが必要です</h4>
    <% end %>
  </div>
</body>
</html>
